:root {
  --primary: #157A6E;
  --primary-faded: rgba(21, 122, 110, 0.7);
  --dark: #36454F
}

@media screen and (min-width: 1400px) {

	.wy-nav-content-wrap {
		background-color: initial;
	}

}

a {
	color: var(--primary);
	text-decoration: underline;
}

a:visited {
	color: var(--dark);
}

img.example {
	display: block;
	margin: 0 auto;
	max-width: 600px;
}

.multiplex-logo {
	display: block;
	margin: 0 auto;
}

.wy-menu.wy-menu-vertical a.reference.internal,
.wy-menu.wy-menu-vertical a:visited.reference.internal {
	color: rgba(255, 255, 255, 0.7);
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.on a:hover,
.wy-menu-vertical li.current>a,
.wy-menu-vertical li.current>a:hover {
	background: var(--primary);
	border-bottom: none;
	border-top: none;
}

.wy-menu-vertical li.toctree-l2 {
	background: var(--primary-faded);
}

.wy-menu-vertical li.toctree-l2.current>a,
.wy-menu-vertical li.toctree-l2>a:hover {
	background: var(--primary);
}

.wy-nav-content {
	max-width: 61.8%;
}

.wy-nav-side {
	background: var(--dark);
}

.wy-side-nav-search,
.wy-nav-top {
	background-color: var(--primary);
}

.wy-menu-vertical a:active {
	background-color: var(--primary);
}

.wy-menu-vertical a:hover {
	background-color: var(--primary-faded);
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
	color: rgba(255, 255, 255, 0.8);
}
